 name: SHAN_AI Workflow

on:
  push:
    branches:
      - main

jobs:
build-and-test:
runs-on: ubuntu-latest
steps:
- name: Checkout code
uses: actions/checkout@v3

```  - name: Set up Python
    uses: actions/setup-python@v3
    with:
      python-version: '3.x'

  - name: Install dependencies
    run: |
      python -m pip install --upgrade pip
      pip install -r requirements.txt

  - name: Lint code
    run: |
      pip install flake8
      flake8 main.py --count --select=E9,F63,F7,F82 --show-source --statistics
      flake8 main.py --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  - name: Run tests
    run: |
      python main.py
